
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
TryoutMastersDegreeProject/.vs/TryoutMastersDegreeProject/v17/Browse.VC.db-shm
*.db-wal
TryoutMastersDegreeProject/.vs/TryoutMastersDegreeProject/v17/Browse.VC.db
TryoutMastersDegreeProject/.vs/TryoutMastersDegreeProject/v17/Browse.VC.opendb
TryoutMastersDegreeProject/.vs/TryoutMastersDegreeProject/v17/Browse.VC.db
